@import "_variables.less";
@import "_mixins.less";

.about_me {
  .flex_column_center;
  padding-bottom: 20px;
  background: #F9F9F9;

.about_me_title {
  .font (4vw, normal, 500, normal);
}

.about_me_description {
  color: @description-color;
  .font (2.5vw, normal, 400, 5vw);
  padding: 0px 25px;
  margin: @margin-zero;
}
}

@media @tablet {

  .about_me {

    .about_me_title {
      .font (3.8vw, normal, 500, normal);
    }

    .about_me_description {
      .font (2.4vw, normal, 400, 4vw);
    }
  }
}

@media @desktop {

  .about_me {
    padding: 6vw 0 4vw 0;

    .about_me_title {
      font-size: 2vw;
      margin: @margin-zero;
      padding-bottom: 2vw;
    }

    .about_me_description {
      margin: @margin-zero-auto;
      padding: 0 36.5vw;
      .font (0.9vw, normal, 400, 2vw);
    }
  }
}