@import "_variables.less";
@import "_mixins.less";

.work {
  .flex_column_center;
  background-color: @primary-color;
  padding-bottom: 30px;

  .work_title {
    .font (@base-size - 1, normal, 500, normal);
    margin: @margin-zero;
    padding: 16px 0px;
  }
  
  .work_description {
    color: @description-color;
    .font (2.5vw, normal, 400, @base-size);
    margin: @margin-zero;
    padding: 0px 25px 20px;
  }
  
  .video_container {
    position: relative;
  }
  
  .video {
    width: 85%;
  }
  
  .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .size (@base-size + 2, @base-size + 2);    
  }
}

@media @tablet {

  .work {

    .work_title {
      .font (3.8vw, normal, 500, normal);
    }

    .work_description {
      .font (2.4vw, normal, 400, 4vw);
    }

    .play_button {
      .size (7.5vw, 7.5vw);
    }
  }
}

@media @desktop {

  .work {
    padding-top: 4vw;

    .work_title {
      margin: @margin-zero;
      padding: 0, 0, 2vw, 0;
      .font (2vw, normal, 500, normal);
    }

    .work_description {
      .font (0.9vw, normal, 400, 2vw);
      margin: @margin-zero-auto;
      padding: 0 36.5vw 1.5vw 36.5vw;
    }

    .video_container {
      padding-bottom: 3vw;
    }

    .video {
      width: 60%;
    }

    .play_button {
      .size (5vw, 5vw);
    }
  }
}